<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aprendabrincando.edvanmatta.com.aprendabrincando">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconejogos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JogoLeiaBicho" />
        <activity android:name=".ObjetoDiferente" />
        <activity android:name=".EncontreObjeto" />
        <activity android:name=".Score" />
        <activity android:name=".HistoricoScores"></activity>
    </application>

</manifest>